################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Encapsulation/.vs
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/15199256-1e48-4adc-8aae-9279693d3b78.vsidx
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/6e4619c2-202d-4b5d-bac0-7097eb827785.vsidx
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/9e410ebf-3689-4a6f-a346-9ba4b50cad78.vsidx
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/3a06dcb4-bdb3-48f7-8636-afb7d7f74949.vsidx
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/d7b5fed1-2e87-4c99-bc83-b81a0d4e213b.vsidx
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/read.lock
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/92e5db56-731a-44e6-b5b1-38b26e662aaa.vsidx
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/51ebac05-54b7-4f5a-84cc-3cdbe4e26d6b.vsidx
/.vs/Object-Oriented-Programming-Practice/FileContentIndex
/InterfacesAndAbstraction/InterfacesAndAbstraction/.vs/InterfacesAndAbstraction
/InterfacesAndAbstraction/.vs/InterfacesAndAbstraction
/Interfaces-And-Abstraction/.vs/Interfaces-And-Abstraction/FileContentIndex/43e4d457-87ca-43b0-bce8-823989e1d048.vsidx
/Interfaces-And-Abstraction/.vs/Interfaces-And-Abstraction/FileContentIndex/0f12b985-45d0-4412-922e-fc3749193382.vsidx
/Interfaces-And-Abstraction/.vs/Interfaces-And-Abstraction/FileContentIndex/1eed4899-5c81-4aca-a1fc-32b72d34710b.vsidx
/Interfaces-And-Abstraction/.vs/Interfaces-And-Abstraction/FileContentIndex/bd10ec30-2e3e-4d9c-aaf4-cef8c11a2947.vsidx
/Interfaces-And-Abstraction/.vs/Interfaces-And-Abstraction/FileContentIndex/abf60b47-b898-40a6-83a6-96fd1fb990de.vsidx
/Interfaces-And-Abstraction/.vs/Interfaces-And-Abstraction/FileContentIndex/896213a7-eea2-4185-82fc-f2677ba3d6a7.vsidx
/Interfaces-And-Abstraction/Shapes/bin/Debug/net8.0
/Interfaces-And-Abstraction/.vs/Interfaces-And-Abstraction/FileContentIndex/2f2ed91e-cc98-47f3-96f5-dcedd9825d32.vsidx
/Interfaces-And-Abstraction/.vs/Interfaces-And-Abstraction/FileContentIndex/3dd0634e-4046-4e41-bbeb-ccd40c311746.vsidx
/Interfaces-And-Abstraction/.vs/Interfaces-And-Abstraction/FileContentIndex/7fbd16b6-50d7-44c2-a2e6-0f71f2eb65ec.vsidx
/Interfaces-And-Abstraction/.vs/Interfaces-And-Abstraction/FileContentIndex/b6086bbe-947d-4b2b-a2b3-bda65624bf72.vsidx
/Interfaces-And-Abstraction/.vs/Interfaces-And-Abstraction/FileContentIndex/f9129354-3853-4886-a5fb-3b708d7c8060.vsidx
