################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Encapsulation/.vs
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/15199256-1e48-4adc-8aae-9279693d3b78.vsidx
