################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Encapsulation/.vs
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/15199256-1e48-4adc-8aae-9279693d3b78.vsidx
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/6e4619c2-202d-4b5d-bac0-7097eb827785.vsidx
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/9e410ebf-3689-4a6f-a346-9ba4b50cad78.vsidx
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/3a06dcb4-bdb3-48f7-8636-afb7d7f74949.vsidx
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/d7b5fed1-2e87-4c99-bc83-b81a0d4e213b.vsidx
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/read.lock
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/92e5db56-731a-44e6-b5b1-38b26e662aaa.vsidx
/.vs/Object-Oriented-Programming-Practice/FileContentIndex/51ebac05-54b7-4f5a-84cc-3cdbe4e26d6b.vsidx
/.vs/Object-Oriented-Programming-Practice/FileContentIndex
/InterfacesAndAbstraction/InterfacesAndAbstraction/.vs/InterfacesAndAbstraction
/InterfacesAndAbstraction/.vs/InterfacesAndAbstraction
/Interfaces-And-Abstraction/.vs/Interfaces-And-Abstraction/FileContentIndex/43e4d457-87ca-43b0-bce8-823989e1d048.vsidx
/Interfaces-And-Abstraction/.vs/Interfaces-And-Abstraction/FileContentIndex/0f12b985-45d0-4412-922e-fc3749193382.vsidx
